data/
HW2/test/.ipynb_checkpoints/
HW2/.ipynb_checkpoints/
HW2/predictions/

HW3/test/
HW3/.ipynb_checkpoints/
HW3/.DS_Store
.DS_Store
HW3/test_distribution.ipynb
HW3/test_HW3.ipynb
HW3/test_HW3_2.ipynb
HW2/test/test_feature_select_2.ipynb
HW3/HW3-2.ipynb

Predictions/
HW3/HW3 Xuan.ipynb

HW3/Hae-Na_Lee/


TheProject/music_data/.ipynb_checkpoints/